
<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Release Year</th>
        <th>Runtime</th>
        <th>Actions</th>
    </tr>
    {% for movie in movies %}
    <tr>
        <td>{{ movie.title }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.release_year }}</td>
        <td>{{ movie.runtime }}</td>
        <td>
            <a href="{% url 'movie-update' movie.id %}">edit</a> | 
            <a href="{% url 'movie-delete' movie.id %}">delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
Movies: <a href="{% url 'movie-add' %}">new movie</a><br>

</body>
</html>

