<!DOCTYPE html>
<html>
<head>
    <title>Add/Update K-Drama</title>
    <style>
        body {
            background-color: #333;
            color: #fff;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        textarea {
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Hello, {{ user.username }}!</p>
        <h1>Add/Update Movie</h1>
        <img src="https://media.istockphoto.com/id/1320675065/vector/video-production-vector-illustration-film-editing-monitor.jpg?s=612x612&w=0&k=20&c=WFVyqME5IsuNJ9asmnITqqF_Fjc2OhmpyU6sTXp7gnw=">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
    <script>
        document.getElementById("id_title").placeholder = "Enter movie title (string)";
        document.getElementById("id_description").placeholder = "Enter movie description (string)";
        document.getElementById("id_director").placeholder = "Enter director's name (string)";
        document.getElementById("id_release_year").placeholder = "Enter release year (integer)";
        document.getElementById("id_budget").placeholder = "Enter budget (integer)";
        document.getElementById("id_runtime").placeholder = "Enter runtime (integer)";
        document.getElementById("id_rating").placeholder = "Enter rating (float)";
        document.getElementById("id_genre").placeholder = "Enter genre (string)";
        document.getElementById("id_image_url").placeholder = "Enter image URL (string)";
        document.getElementById("id_youtube_url").placeholder = "Enter YouTube URL (string)";
    </script>
</body>
</html>

